:root{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --page-padding: 10px 60px;
    --container-padding: 20px;
    --container-colour: aliceblue;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif; ;
    padding: var(--page-padding);
    line-height: 1.34;
    /* width: 100vw; */
}

.heading{
    /* padding: var(--page-padding); */
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h1{
    font-size: 70px;
    margin-bottom: -10px;
}

.heading h3 a {
    text-decoration: none;
    font-weight: lighter;
    color: aliceblue;
}

.center-container {
    background-color: aliceblue;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--container-padding);
    margin: 20px 0;
}

.center-container img {
    width: 90%;
    margin-left: 4.5%;

}

.center-container h3 {
    margin-bottom: 10px;
}

.center-container h4 {
    margin-bottom: -5px;
    margin-top: -6px;
    font-size: 50px;
}

.box-1, .box-1 p {
    border-width: 0.1px 0;
    border-style: solid;
    border-color: black;
}

.last-container {
    background-color: var(--container-colour);
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
}

.last-container .box-1{
    align-self: center;
}

footer {
    margin-top: 20px;
    width: 97.1vw;
    background-color: var(--container-colour);
    padding: var(--container-padding);
    margin-left: -70px;
    display: flex;
    justify-content: center;
    position: relative;
}

@media only screen and (max-width: 750px) {
    :root {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .last-container{
        width: 94%;
    }

    footer{
        width: 94vw;
    }
}